*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('hello.jpg') no-repeat center fixed;
    background-size: cover;

}
.container{
    width: 420px;
    background: rgba(32, 32, 32, 0.600);
    color: aliceblue;
    padding: 30px 40px;
    backdrop-filter: blur(5px);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.7), 0 17px 50px 0 rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.container h1{
    margin-top: 40px;
    text-align: center;
    font-size: 36px;
}
.container .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 20px;
    outline: none;
    border: 2px solid aliceblue;
    color: aliceblue;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;
}
.input-box svg{
    color: white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
}
.container .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;

}
.remember-forgot label input{
    accent-color: aliceblue;
    margin-right: 3px;
}
.remember-forgot a{
    color: aliceblue;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
    font-weight: 500;
}
.container .register-link{
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin: 20px 0 15px;
}
.register-link p a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
}
.register-link p a:hover{
    text-decoration: underline;
}
.button{
    margin-left: 90px;
    width: 45%;
    height: 45px;
    border-radius: 40px;
    cursor: pointer;
    background: rgba(122, 122, 122, 0.20);
    color: aliceblue;
    transition-duration: 0.1s;
    border: 1px solid aliceblue;
    outline: none;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.20), 0 17px 50px 0 rgba(0, 0, 0, 0.15);
}
.button:hover{
    background-color: aliceblue;
    color: rgb(35, 35, 35);
}
.b2n {
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    border: 1px solid aliceblue;
    outline: none;
    text-decoration: none;
    color: #ffffff;
    padding: 0.2em 0.4em;
    border-radius: 40px;
    width: 45%;
    margin-left: 90px;
    height: 45px;
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.20), 0 17px 50px 0 rgba(0, 0, 0, 0.15);
}
.b2n:hover{
    background-color: aliceblue;
    color: rgb(35, 35, 35);
}
.row{
    overflow: auto;
    width: 1000px;
    background: rgba(32, 32, 32, 0.600);
    padding: 30px 40px;
    display:block;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    backdrop-filter: blur(10px);
    margin-top: 100px;
    height: 520px;
    margin-left: 240px;
    margin-right: 240px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.20), 0 17px 50px 0 rgba(0, 0, 0, 0.15);
}
.row::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: 0;

}
.row h2{
    text-align: center;
}
.row h3{
    color: antiquewhite;
}
.row p{
    text-align: justify;
}
.rtcl{
    width: auto;
    background: rgba(122, 122, 122, 0.20);
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.20), 0 17px 50px 0 rgba(0, 0, 0, 0.15);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background: rgba(32, 32, 32, 0.600);
    color:aliceblue;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.20), 0 17px 50px 0 rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    backdrop-filter: blur(10px);
    z-index: 100;
    align-items: center;
    display: flex;

}
.header a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    
}
.header a:hover{
    text-decoration:underline ;
}
.header svg{
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 35px;
}
.footer{
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: aliceblue;
}

@media (max-width:758px) {
    .header{
        justify-content: space-between;
        height: 75px;
    }
    .header h1{
        font-size: 1rem;
    }
    .header a{
        font-size: 0.8rem;
    }
    .row{
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer{
        font-size: 0.5rem;
    }
    .container{
        width: 250px;
    }
    .container h1{
        font-size: 1rem;
    }
    .container::-webkit-scrollbar{
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: 0;
    }
    .remember-forgot{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .remember-forgot a{
        font-size: 11px;
    }
    .remember-forgot label {
        font-size: 11px;
    }
    .button{
        font-size: small;
        margin-left: 45px;
    }
}